# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/
*.egg

# Virtual environments
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
*.cover
.pytest_cache/

# mypy / pyright / type checkers
.mypy_cache/
.pytype/

# Environments / secrets
.env
octomate.yaml

# IDE
.idea/

# Github
.github/prompts/

# OS
.DS_Store
Thumbs.db
